<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmq.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.xmq.entity.UserEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="user_sex" property="userSex" javaType="com.xmq.enums.UserSexEnum"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id, user_name, password, user_sex, nick_name
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM user
    </select>

    <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap" >
        SELECT 
       <include refid="Base_Column_List" />
	   FROM user
	   WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.xmq.entity.UserEntity" >
       INSERT INTO 
       		user
       		(user_name,password,user_sex) 
       	VALUES
       		(#{userName}, #{password}, #{userSex})
    </insert>
    
    <update id="update" parameterType="com.xmq.entity.UserEntity" >
       UPDATE 
       		user
       SET 
       	<if test="userName != null">user_name = #{userName},</if>
       	<if test="password != null">password = #{password},</if>
       	nick_name = #{nickName}
       WHERE 
       		id = #{id}
    </update>
    
    <delete id="delete" parameterType="java.lang.Long" >
       DELETE FROM
       		 user 
       WHERE 
       		 id =#{id}
    </delete>

</mapper>